@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
  font-family: Ubuntu;
}
.site-title:hover {
  cursor: pointer;
}
.links:hover {
  text-decoration: underline;
  cursor: pointer;
}
.posts {
  width: 70%;
}
.post {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}
.sidebar {
  width: 25%;
  justify-content: center;
  align-items: center;
}
main {
  min-height: 300px;
  padding-top: 30px;
}
@media only screen and (max-width: 768px) {
  .content {
    flex-direction: column;
  }
  .posts {
    width: 90%;
  }
  .post {
    width: 90%;
  }
  .sidebar {
    width: 90%;
  }
  .footer-text {
    flex-direction: column;
  }
}
